<div class = "col-xs-12 col-md-3">
    <form method="post" action="{{ url('admin_export') }}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Export</h3>
            </div>
            <div class="panel-body">
                <p><b>Properties:</b></p>
                <div class="checkbox spaced">
                    {# All values are mapping to the corresponding function calls for example: get{Sensor, Longitude, ...}. #}
                    <label>
                        <input type="checkbox" checked value="Id" name="properties[]"> ID
                    </label>
                    <label>
                        <input type="checkbox" checked value="Time" name="properties[]"> Time
                    </label>
                    <label>
                        <input type="checkbox" checked value="Date" name="properties[]"> Date
                    </label>
                    <label>
                        <input type="checkbox" checked value="Sensor" name="properties[]"> Sensor
                    </label>
                    <label>
                        <input type="checkbox" checked value="Longitude" name="properties[]"> Longitude
                    </label>
                    <label>
                        <input type="checkbox" checked value="Latitude" name="properties[]"> Latitude
                    </label>
                    <label>
                        <input type="checkbox" checked value="Elevation" name="properties[]"> Elevation
                    </label>
                    <label>
                        <input type="checkbox" checked value="Speed" name="properties[]"> Speed
                    </label>
                    <label>
                        <input type="checkbox" checked value="Temp" name="properties[]"> Temp
                    </label>
                    <label>
                        <input type="checkbox" checked value="Moist" name="properties[]"> Moist
                    </label>
                    <label>
                        <input type="checkbox" checked value="Pressure" name="properties[]"> Pressure
                    </label>
                    <label>
                        <input type="checkbox" checked value="Humidity" name="properties[]"> Humidity
                    </label>
                    <label>
                        <input type="checkbox" checked value="ADC0" name="properties[]"> ADC0
                    </label>
                    <label>
                        <input type="checkbox" checked value="ADC1" name="properties[]"> ADC1
                    </label>
                    <label>
                        <input type="checkbox" checked value="ADC2" name="properties[]"> ADC2
                    </label>
                    <label>
                        <input type="checkbox" checked value="ADC3" name="properties[]"> ADC3
                    </label>
                    <label>
                        <input type="checkbox" checked value="ADC4" name="properties[]"> ADC4
                    </label>
                    <label>
                        <input type="checkbox" checked value="ADC5" name="properties[]"> ADC5
                    </label>
                    <label>
                        <input type="checkbox" checked value="ADC6" name="properties[]"> ADC6
                    </label>
                    <label>
                        <input type="checkbox" checked value="ADC7" name="properties[]"> ADC7
                    </label>
                    <label>
                        <input type="checkbox" checked value="SDSP1" name="properties[]"> SDSP1&nbsp;(PM10)
                    </label>
                    <label>
                        <input type="checkbox" checked value="SDSP2" name="properties[]"> SDSP2&nbsp;(PM2.5)
                    </label>
                </div>

                <div class = "form-group">
                    <label>
                        Start date:
                    </label>
                    <input placeholder="Click here to enter date..." required class="startDate form-control" name="startDate">
                </div>

                <div class = "form-group">
                    <label>
                        End date:
                    </label>
                    <input placeholder="Click here to enter date..." required class="endDate form-control" name="endDate">
                </div>

                <button type = "submit" class = "btn btn-primary btn-block"><i class="fa fa-download"></i> Export</button>
            </div>
        </div>
    </form>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function() {
        const parameters = {
            format: 'yyyy-mm-dd hh:ii:ss Z',
            timezone: 'UTC',
            todayBtn: 'linked',
            clearBtn: true,
            autoclose: true,
            weekStart: 1,
            minuteStep: 15,
            endDate: new Date(),
            fontAwesome: true,
            forceParse: false
        }

        $('.startDate').datetimepicker(parameters).on('changeDate', function(event) {
            let selectedStartDate = event.date
            $('.endDate').datetimepicker('remove')
            $('.endDate').datetimepicker(Object.assign(parameters, {startDate: selectedStartDate}))
        })

        $('.endDate').datetimepicker(parameters)
    })
</script>