<div class="col-xs-12 col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Stats</h3>
        </div>
        <div class="panel-body">
            <span>Displays relevant stats in a small overview</span>
        </div>
        <ul class="list-group" style="margin-left: 0;">
            <li class="list-group-item">
                <span class="badge">{{ dataCount }}</span>
                Data count
            </li>
            <li class="list-group-item">
                <span class="badge">{{ sensorCount }}</span>
                Sensor count
            </li>
            <li class="list-group-item">
                <span class="badge">
                    {% if recentTimestamp is not null %}
                        {{ recentTimestamp['date']|date('d.m.Y') ~ ' ' ~ recentTimestamp['time']|date('h:i') }}
                    {% else %}
                        No submission
                    {% endif %}
                </span>
                Latest data submission
            </li>
        </ul>
    </div>
</div>