div.spaced.checkbox label {
    margin-bottom: 10px;
}

div.request_json .form-control {
    white-space: pre;
}

/* Sensor status */
i.fa.fa-circle.green {
    color: #4CAF50;
}

i.fa.fa-circle.red {
    color: #D32F2F;
}

.btn-transparent {
    background-color: transparent;
    border-color: lightgray;
}

.normal-width {
    width: unset !important;
}