{% extends '@EasyAdmin/default/layout.html.twig' %}
{% set _content_title = 'Dashboard' %}
{% block page_title %}
    {{ _content_title }}
{% endblock %}
{% block content_header %}
    <h1 class="title inline">{{ _content_title }}</h1>
{% endblock %}
{% block main %}
    <div class="row">
        {% include 'AppBundle:EasyAdmin:panels/graph.html.twig' with { 'data' : data, 'dataCount' : dataCount, 'sensorCount' : sensorCount, 'recentTimestamp': recentTimestamp } %}

        {% include 'AppBundle:EasyAdmin:panels/export.html.twig' %}
    </div>
{% endblock %}
